.message {
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
  }
  
.message .timeform {
    float: left;
    width: 100%;
}
  
i {
    margin-left: 20px;
}

.timestamp{
    font-size: 0.6em;
}

li {
    list-style:  none;
}